<div class="navbar">
    <a [routerLink]="['/']"> Login </a>
    <a [routerLink]="['/home']"> Home </a>
    <a class="active" [routerLink]="['/groups']"> Groups </a>
  </div>
<h1>Groups</h1>
<hr>
<table>
    <tr>
        <th>Group name</th> 
        <th>Show members</th>
    </tr>
    <tr *ngFor="let g of groups">
        <td>{{g.groupName}}</td>
        <!-- rounterLink uzima za vrednost niz, prvi parametar u nizu je string, 
            drugi je number i bice konkatenirani da bi se dobio url -->
        <td><input type="button" (click)="showMembers(g)"  value="Show members"></td>
    </tr>
</table>

<div class="container">
    <app-date-pipe-component></app-date-pipe-component>
    </div>