<div class="navbar">
    <a [routerLink]="['/']"> Login </a>
    <a class="active" [routerLink]="['/home']"> Home </a>
    <a [routerLink]="['/groups']"> Groups </a>
  </div>
<div>
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    
    <div>
        <!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->
<div id="selectedG" *ngIf=" groups.length > 0" class="select" style="width:200px;">
    <select (change)="onChange($event.target.value)">
      <option  *ngFor="let g of groups"  >{{g.groupName}}</option>
  
    </select>
    <div>
        <input type="button" value="Add to group" (click)="addToGroup(user)">
    </div>
  </div>
    </div>
    <div>
        All members:
    </div>
    <div *ngIf=" groupMembers.length > 0">
        <table>
            <tr *ngFor="let member of groupMembers">
                <td>{{member.firstName}}</td>
                <td>{{member.lastName}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <app-date-pipe-component></app-date-pipe-component>
    </div>