<div class="navbar">
    <a [routerLink]="['/']"> Login </a>
    <a [routerLink]="['/home']"> Home </a>
    <a class="active" [routerLink]="['/groups']"> Groups </a>
</div>
<h1>Users</h1>
<hr>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Details</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <!-- rounterLink uzima za vrednost niz, prvi parametar u nizu je string, 
            drugi je number i bice konkatenirani da bi se dobio url -->
        <td><input type="button" [routerLink]="['/users', user.id]" value="User details"></td>
        <td><input type="button" [routerLink]="['/edit',user.id]" value="Edit"></td>
        <td><input type="button" (click)="deleteUser(user)" value="Delete"></td>
    </tr>
</table>

<div class="container">
    <app-date-pipe-component></app-date-pipe-component>
</div>