<app-header [reservationCountStr]="countOfReservations"></app-header>
<br>
<hr>
<h5>Reservations</h5>
<br>
<hr>
<table>
    <tr>
        <th>One way</th> 
        <th>Origin</th> 
        <th>Destination</th>
        <th>Depart</th>
        <th>Return</th>
        <th>Company</th>
        <th>Count</th>
        <th>isAvailable</th>
    </tr>
    <tr *ngFor="let r of reservations">
        <td>{{r.ticketResponseDto.oneWay}}</td>
        <td>{{r.ticketResponseDto.origin}}</td>
        <td>{{r.ticketResponseDto.destination}}</td>
        <td>{{r.ticketResponseDto.departDate}}</td>
        <td>{{r.ticketResponseDto.returnDate}}</td>
        <td>{{r.ticketResponseDto.company}}</td>
        <td>{{r.count}}</td>
        <td>{{r.isAvailable}}</td>
        <!-- rounterLink uzima za vrednost niz, prvi parametar u nizu je string, 
            drugi je number i bice konkatenirani da bi se dobio url -->
        <td><input type="button" (click)="deleteReservation(r.id)" value="Delete"></td>
        <td><input type="button"  (click)="buyReservations(r.id)"  value="Buy"></td>
        <!-- <td *ngIf = "!isAdmin()"><input type="number" value="" min="1"></td> -->

    </tr>
</table>
