<app-header [reservationCountStr]="countOfReservations"></app-header>
<br>
<h5>{{companyCurr}}</h5>

<br>
<hr>
<h5 *ngIf = "isAdmin()" >Edit company</h5>
<div class="col-sm-8">
    <!-- [formGroup]="loginForm" vezuje ovu konkretnu formu sa loginForm atributom iz modela -->
    <form [formGroup]="editCompanyForm" (ngSubmit)="editCompany(editCompanyForm.value)" *ngIf = "isAdmin()">
        <div class="form-group">
            <!-- formControlName atribut vezuje ovo polje forme sa poljem definisanim u FormGroup -->
            <input type="text" class="form-control"  placeholder="Enter company name" formControlName="companyNameE">
            
            <div class="error-message" *ngIf="companyNameE.errors?.required"> Comapany name is required! </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!editCompanyForm.valid">Submit</button>
    </form>

</div>
<br>
<hr>

<h5 *ngIf = "isAdmin()" >Add new company</h5>
<div class="col-sm-8">
    <!-- [formGroup]="loginForm" vezuje ovu konkretnu formu sa loginForm atributom iz modela -->
    <form [formGroup]="addCompanyForm" (ngSubmit)="addCompany(addCompanyForm.value)" *ngIf = "isAdmin()">
        <div class="form-group">
            <!-- formControlName atribut vezuje ovo polje forme sa poljem definisanim u FormGroup -->
            <input type="text" class="form-control"  placeholder="Enter company name" formControlName="companyName">
            
            <div class="error-message" *ngIf="companyName.errors?.required"> Comapany name is required! </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!addCompanyForm.valid">Submit</button>
    </form>

</div>



<br>
<hr>
<h4>Filter tickets</h4>
<form [formGroup]="filterTicketsFrorm" (ngSubmit)="filterTickets(filterTicketsFrorm.value)">
    <div class="form-group">
        <input type="date" class="form-control"   placeholder="Enter depart date" formControlName="departDateT"> 
    </div>
    <div class="form-group">
        <input type="date" class="form-control"  placeholder="Enter return date" formControlName="returnDateT">
    </div>

    <p>Origin</p>
    <select type="number" [(ngModel)]="selectedOrigin" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let o of cities" [ngValue]="o">{{o.name}}</option>
      </select>

    <p>Destination</p>
      <select type="number" [(ngModel)]="selectedDestination" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let d of cities" [ngValue]="d">{{d.name}}</option>
      </select>

    <button type="submit" class="btn btn-primary">Filter</button>
     
</form>


<br><hr>
<br>

<input  *ngIf = "!isAdmin()" [(ngModel)] ="resNum" type="number" value="" min="1">

<br>
<br>

<table>
    <tr>
        <th>One way</th> 
        <th>Origin</th> 
        <th>Destination</th>
        <th>Depart</th>
        <th>Return</th>
        <th>Company</th>
        <th>Count</th>
    </tr>
    <tr *ngFor="let ticket of tickets">
        <td>{{ticket.oneWay}}</td>
        <td>{{ticket.origin}}</td>
        <td>{{ticket.destination}}</td>
        <td>{{ticket.departDate}}</td>
        <td>{{ticket.returnDate}}</td>
        <td>{{ticket.company}}</td>
        <td>{{ticket.count}}</td>
        <!-- rounterLink uzima za vrednost niz, prvi parametar u nizu je string, 
            drugi je number i bice konkatenirani da bi se dobio url -->
        <td *ngIf = "isAdmin()"><input type="button"  [routerLink]="['/ticket/edit',ticket.id]" value="Edit"></td>
        <td *ngIf = "isAdmin()"><input type="button" (click)="deleteTicket(ticket.id)" value="Delete"></td>
        <td *ngIf = "!isAdmin()"><input type="button" (click)="reserve(ticket)" value="Reserve"></td>
        <!-- <td *ngIf = "!isAdmin()"><input type="number" value="" min="1"></td> -->

    </tr>
</table>
<br>
<hr>
<button type="button" *ngIf = "isAdmin()" (click)="deleteCompany()" class="btn btn-primary" >Delete</button>
<br>
<hr>