<div class="navbar">
    <a [routerLink]="['/']"> Login </a>
    <a [routerLink]="['/home']"> Home </a>
    <a class="active" [routerLink]="['/groups']"> Groups </a>
  </div>
<h1>Users</h1>
<hr>
<table>
    <tr>
        <th>First name</th> 
        <th>Last name</th> 
        <th>Details</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <!-- rounterLink uzima za vrednost niz, prvi parametar u nizu je string, 
            drugi je number i bice konkatenirani da bi se dobio url -->
        <td><input type="button"  [routerLink]="['/users', user.id]" value="User details"></td>
        <td><input type="button"  [routerLink]="['/edit',user.id]" value="Edit"></td>
        <td><input type="button" (click)="deleteUser(user.id)" value="Delete"></td>
    </tr>
</table>

<br>
<h5>Add new user</h5>
<div class="col-sm-4">
    <!-- [formGroup]="loginForm" vezuje ovu konkretnu formu sa loginForm atributom iz modela -->
    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
        <div class="form-group">
            <!-- formControlName atribut vezuje ovo polje forme sa poljem definisanim u FormGroup -->
            <input type="text" class="form-control"  placeholder="Enter firstName" formControlName="firstName">
            <!-- '?' operator proverava da li je username.errors === null, 
                ako jeste, odmah vraca false sprecavajuci da program pukne,
                zato sto ne mozemo da procitamo .required od null -->
            <div class="error-message" *ngIf="firstName.errors?.required"> firstName is required! </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter lastName" formControlName="lastName">
            <div class="error-message" *ngIf="lastName.errors?.required"> lastName is required! </div>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Enter id" formControlName="number">
            <div class="error-message" *ngIf="number.errors?.required"> id is required! </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
    </form>
</div>
<br>
<h5>Add new group</h5>
<div class="col-sm-4">
    <form [formGroup]="groupForm" (ngSubmit)="addGroup(groupForm.value)">
        <div class="form-group">
            <!-- formControlName atribut vezuje ovo polje forme sa poljem definisanim u FormGroup -->
            <input type="text" class="form-control"  placeholder="Enter group Name" formControlName="groupName">
            <!-- '?' operator proverava da li je username.errors === null, 
                ako jeste, odmah vraca false sprecavajuci da program pukne,
                zato sto ne mozemo da procitamo .required od null -->
            <div class="error-message" *ngIf="groupName.errors?.required"> Group Name is required! </div>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="!groupForm.valid">Submit</button>
    </form>
</div>


<div class="container">
<app-date-pipe-component></app-date-pipe-component>
</div>